{% extends 'templates/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emploi du temps</title>
    <link rel="stylesheet" href="index.css">
 
</head>
<body>
    <label for="offer-select">Time table off :</label>
    <select id="offer-select">
        <option value="">Toutes les offres</option>
        {% set unique_offers = [] %}
        {% for schedule in schedules %}
            {% if schedule.offer not in unique_offers %}
                <option value="{{ schedule.offer }}">{{ schedule.offer }} </option>
                {% set _ = unique_offers.append(schedule.offer) %}
            {% endif %}
        {% endfor %}
    </select>

    <div id="schedules">
        <div id="all-schedules" class="schedule-container">
            <h3>Tous les emplois du temps</h3>
            <table class="schedule">
                <thead>
                    <tr>
                        <th></th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                    </tr>
                </thead>
                <tbody id="all-schedules-body" class="schedule-body">
                    {% for time in ["16:00", "17:00", "18:00", "19:00", "20:00"] %}
                        <tr>
                            <td class="time-column">{{ time }}</td>
                            {% for day in ["lundi", "mardi", "mercredi", "jeudi", "vendredi"] %}
                                <td {% if schedule[day][time] %} class="occupied-{{ time.replace(':', '') }}" {% endif %}>
                                    {% if schedule[day][time] %}
                                        <span style="color: white;">
                                            <strong>{{ schedule[day][time].offer }}</strong>: <br>
                                            {{ schedule[day][time].subject }} <br>
                                            <strong>{{ schedule[day][time].start_time }}</strong>-<strong>{{ schedule[day][time].end_time }}</strong>
                                        </span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% for offer in unique_offers %}
            <div id="{{ offer }}" class="schedule-container" style="display: none;">
                <h3>{{ offer }}</h3>
                <table class="schedule">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                        </tr>
                    </thead>
                    <tbody id="{{ offer }}-schedule-body" class="schedule-body">
                        {% for time in ["16:00", "17:00", "18:00", "19:00", "20:00"] %}
                            <tr>
                                <td class="time-column">{{ time }}</td>
                                {% for day in ["lundi", "mardi", "mercredi", "jeudi", "vendredi"] %}
                                    <td {% if schedule[day][time] and schedule[day][time].offer == offer %} class="occupied-{{ time.replace(':', '') }}" {% endif %}>
                                        {% if schedule[day][time] and schedule[day][time].offer == offer %}
                                            <span style="color: white;">
                                                <strong>{{ schedule[day][time].subject }}</strong> <br>
                                                {{ schedule[day][time].start_time }}-{{ schedule[day][time].end_time }}
                                            </span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <script src="index.js"></script>
   
</body>
</html>
{% endblock %}
